<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="icon" href="/public/img/iconBanner.jpeg" />

    <link rel="stylesheet" href="/public/css/detailheader.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>evelog</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <meta
      name="google-signin-client_id"
      content="328276589647-kesmnun08lbmrde51k04dcn20but3cpv.apps.googleusercontent.com"
    />
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header class="header">
      <div class="navibar">
        <!-- <div class="title">evelog</div>
          <div class="iconBox">
            <img class="icon" onclick="login()" src="../public/img/alam.png" />
            <img class="icon" onclick="login()" src="../public/img/search.png" />
            <img class="icon" onclick="login()" src="../public/img/menu.png" />
  
            <button class="loginBtn" type="button" onclick="login()">
              로그인
            </button>
          </div> -->
      </div>
    </header>
    <div class="loginBackground">
      <div class="loginInbox">
        <div class="loginInput">
          <div class="loginTitle">
            <span>로그인</span>
            <img
              class="close"
              src="/public/img/close.png"
              onclick="loginClose()"
            />
          </div>
          <div class="email-text">
            <input
              class="textInput"
              placeholder="이메일을 입력하세요"
              type="text"
              name="email"
            />

            <input
              name="password"
              class="textInput textInputPassword"
              type="password"
            />
            <div onclick="checkLogin()">로그인</div>
          </div>
          <div class="snsBox">소셜 로그인</div>
          <div class="socialBtnBox">
            <div id="naverIdLogin"></div>
            <div
              id="g_id_onload"
              data-client_id="328276589647-kesmnun08lbmrde51k04dcn20but3cpv.apps.googleusercontent.com"
              data-context="signup"
              data-ux_mode="popup"
              data-callback="handleCredentialResponse"
              data-auto_prompt="false"
            ></div>
            <div
              class="g_id_signin"
              data-type="icon"
              data-shape="rectangular"
              data-theme="outline"
              data-size="large"
            ></div>
            <div onclick="kakaoLogin()" id="kakaoLogin">
              <img src="/public/img/kakaoLogo.png" />
            </div>
          </div>
          <div class="findBox">
            <span onclick="findID()">아이디 찾기</span>
            <span>/</span>
            <span onclick="findPW()">비밀번호 찾기</span>
          </div>

          <div class="joinText">
            아직 회원이 아니신가요? <a href="/join">회원가입</a>
          </div>
        </div>
        <div class="find-id-wrap none">
          <div class="loginTitle">
            <span>이메일 찾기</span>
            <img
              class="close"
              src="/public/img/close.png"
              onclick="loginClose()"
            />
          </div>
          <div class="find">
            <input
              class="findInput findIdValue"
              type="text"
              placeholder="휴대폰 번호를 입력해주세요"
            />
            <button class="findButton" onclick="findIDsubmit()" type="button">
              찾기
            </button>
          </div>
        </div>
        <div class="find-pw-wrap none">
          <div class="loginTitle">
            <span>비밀번호 찾기</span>
            <img
              class="close"
              src="/public/img/close.png"
              onclick="loginClose()"
            />
          </div>
          <div class="find">
            <input
              class="findInput findPwValue"
              type="text"
              placeholder="이메일을 입력해주세요"
            />
            <p class="none USERID"></p>
            <button class="findButton" onclick="findPWsubmit()" type="button">
              찾기
            </button>
          </div>
        </div>
        <div class="find-pw-wrap-local none">
          <div class="loginTitle">
            <span>비밀번호 변경</span>
            <img
              class="close"
              src="/public/img/close.png"
              onclick="loginClose()"
            />
          </div>
          <div>
            <h3>비밀번호 변경</h3>
            <input class="findInput" type="password" name="password2" />
            <input class="findInput" type="password" name="passchc" />
            <button class="findButton" onclick="findPwChange()" type="button">
              변경하기
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
  <script src="/public/js/detailheader.js"></script>
</html>
