<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="icon" href="/public/img/iconBanner.jpeg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>evelog</title>
    <link rel="stylesheet" href="/public/css/header.css" />
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <meta
      name="google-signin-client_id"
      content="328276589647-kesmnun08lbmrde51k04dcn20but3cpv.apps.googleusercontent.com"
    />
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header class="header">
      <div class="navibar">
        <!-- <div class="title">evelog</div>
          <div class="iconBox">
            <img class="icon" onclick="login()" src="../public/img/alam.png" />
            <img class="icon" onclick="login()" src="../public/img/search.png" />
            <img class="icon" onclick="login()" src="../public/img/menu.png" />
  
            <button class="loginBtn" type="button" onclick="login()">
              로그인
            </button>
          </div> -->
      </div>
    </header>
    <div class="loginBackground">
      <div class="loginInbox">
        <div class="loginInput">
          <div class="close" onclick="loginClose()">x</div>
          <h2>로그인</h2>

          <div class="email-text">
            <input
              class="textInput"
              placeholder="이메일을 입력하세요"
              type="text"
              name="email"
            />
            <div onclick="checkLogin()">로그인</div>
          </div>
          <input
            name="password"
            class="textInput textInputPassword"
            type="password"
          />
          <div class="socialBtnBox">
            <div id="naverIdLogin"></div>
            <div
              id="g_id_onload"
              data-client_id="328276589647-kesmnun08lbmrde51k04dcn20but3cpv.apps.googleusercontent.com"
              data-context="signup"
              data-ux_mode="popup"
              data-callback="handleCredentialResponse"
              data-auto_prompt="false"
            ></div>
            <div
              class="g_id_signin"
              data-type="icon"
              data-shape="rectangular"
              data-theme="outline"
              data-size="large"
            ></div>
            <div onclick="kakaoLogin()" id="kakaoLogin">
              <img src="/public/img/kakaoLogo.png" />
            </div>
          </div>
          <div class="findBox">
            <span onclick="findID()">아이디 찾기</span
            ><span onclick="findPW()">비밀번호 찾기</span>
          </div>

          <div class="joinText">
            아직 회원이 아니신가요? <a href="/join">회원가입</a>
          </div>
        </div>
      </div>
    </div>

    <p id="token-result"></p>
    <script>
      const KaApiKey = "ddff36a507d10a48af5cd1c1cc5cbabe";
      //2. 카카오 초기화
      Kakao.init(KaApiKey);
      Kakao.isInitialized();
      //3. 카카오로그인 코드 확인
      function loginWithKakao() {
        Kakao.Auth.login({
          success: function (authObj) {
            console.log(authObj); //access토큰 값
            Kakao.Auth.setAccessToken(authObj.access_token); //access 토큰 값 저장
            getInfo();
          },
          fail: function (err) {
            console.log(err);
          },
        });
      }

      // 아래는 데모를 위한 UI 코드입니다.
      function getInfo() {
        Kakao.API.request({
          url: "/v2/user/me",
          success: function (res) {
            console.log(res);
            var id = res.id;
            var profile_nickname = res.kakao_account.profile.nickname;
            localStorage.setItem("nickname", profile_nickname);
            localStorage.setItem("id", id);
            console.log(profile_nickname);
            console.log(id);
          },
          fail: function (error) {
            alert("카카오 로그인 실패" + JSON.stringify(error));
          },
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="/public/js/header.js"></script>
  </body>
</html>
