<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/evelog.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("global/myheader") %> my velog

    <script>
      const urlParam = new URLSearchParams(window.location.search);
      const hsh2 = urlParam.get("hsh");
      console.log(hsh2);
      axios.post("/update/getmypost", { vUrl: hsh2 }).then((res) => {
        console.log(res.data.post);
      });
    </script>
  </body>
</html>
