<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/evelog.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <%- include("global/myheader") %>
    <div id="followsContainer">
      <div id="followers"></div>
      <div id="followings"></div>
    </div>
    <div id="pageContainer">
      <div id="userContainer"></div>
      <div id="postsContainer"></div>
    </div>
  </body>
  <script src="/public/js/evelog.js"></script>
</html>
