<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/img/iconBanner.jpeg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보 수정</title>
    <link rel="stylesheet" href="/public/css/info.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="blurred-text">
    <%- include("global/header") %>
    <div class="main-wrap">
      <div class="container">
        <div class="edit-box">
          <div class="imgArea">
            <input class="input_file" type="file" name="file" />
            <div>
              <img class="img_File" src="/public/img/user-thumbnail.png" />
            </div>
            <div class="imgBtnBox">
              <button class="uploadBtn" onclick="fileUpload()">
                이미지 업로드
              </button>
              <button class="removeBtn" onclick="fileRemove()">
                이미지 제거
              </button>
            </div>
          </div>
        </div>
        <div class="editArea">
          <h4>nickname</h4>
          <p>comment</p>
          <div class="editBtnArea editBtn">
            <div class="editCbtn btn" onclick="editChange()">수정</div>
          </div>
        </div>
      </div>
      <div class="profile_container">
        <h1>프로필 변경</h1>
        <hr />
        <br />
        <div class="sub_container">
          <h3>내 블로그 제목 변경</h3>
          <div class="titleChange sub_sub_container">
            <div class="titleCbtn btn" onclick="titleChange()">수정</div>
          </div>
        </div>
        <p>개인 페이지의 좌측 상단에 나타나는 페이지 제목입니다.</p>
        <hr />
        <div class="sub_container">
          <h3>비밀번호 변경</h3>
          <div class="passwordChange sub_sub_container">
            <div class="passCbtn btn" onclick="passChange()">수정</div>
          </div>
        </div>
        <Hr />
        <div class="sub_container">
          <h3>연락처 등록</h3>
          <div class="phoneChange sub_sub_container">
            <div class="btn" onclick="phoneChange()">수정</div>
          </div>
        </div>
        <Hr />
        <div class="sub_container">
          <h3>주소지 등록</h3>
          <div class="addressChange sub_sub_container">
            <div class="addressCbtn btn" onclick="addressChange()">
              정보 등록
            </div>
          </div>
        </div>
        <br /><br />
        <hr />
        <div>
          <h3 onclick="userDestroy()">회원 탈퇴</h3>
        </div>
      </div>
    </div>

    <script src="/public/js/info.js"></script>
  </body>
</html>
