<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/info.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <%- include("global/header") %>
    <div class="main-wrap">
      <div class="container">
        <div class="edit-box">
          <div class="imgArea">
            <input class="input_file" type="file" name="file" />
            <div>
              <img class="img_File" src="/public/img/user-thumbnail.png" />
            </div>
            <div class="imgBtnBox">
              <button onclick="fileUpload()">이미지 업로드</button>
              <button onclick="fileRemove()">이미지 제거</button>
            </div>
          </div>
        </div>
        <div class="editArea">
          <h4>nickname</h4>
          <p>comment</p>
          <div class="editBtnArea editBtn">
            <button class="editCbtn" onclick="editChange()">수정</button>
          </div>
        </div>
      </div>
      <div class="profile_container">
        프로필 변경
        <div>
          <h3>내 블로그 제목 변경</h3>
          <div class="titleChange">
            <button class="titleCbtn" onclick="titleChange()">수정</button>
          </div>
        </div>
        <div>
          <h3>비밀번호 변경</h3>
          <div class="passwordChange">
            <button class="passCbtn" onclick="passChange()">수정</button>
          </div>
        </div>
        <div>
          <h3>주소지 등록</h3>
          <div class="addressChange">
            <button class="addressCbtn" onclick="addressChange()">수정</button>
          </div>
        </div>
        <div>
          <h3>소셜 정보 등록</h3>
          <div class="socialChange">
            <button class="socialCbtn" onclick="socialChange()">
              정보 등록
            </button>
            <button class="socialSbtn" onclick="socialSubmit()">
              수정완료
            </button>
          </div>
        </div>
        <div>
          <h3 onclick="userDestroy()">회원 탈퇴</h3>
        </div>
      </div>
    </div>

    <script src="/public/js/info.js"></script>
  </body>
</html>
