<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <style>
    .naver {
      display: none;
    }
  </style>
  <body>
    <div class="naver"><div id="naverIdLogin"></div></div>
    <div class="cencer">로그인 처리중입니다.....</div>

    <script>
      const naverLogin = new naver.LoginWithNaverId({
        clientId: "Q5BIVkykzWdlsrohoFLp",
        callbackUrl: "http://localhost:3000/join/check",
        buttonType: 2,
        loginButton: { color: "green", type: 1, height: 40 },
      });
      naverLogin.init();
      naverLogin.getLoginStatus(function (status) {
        console.log(status);
        if (status) {
          const userInfo = {
            email: naverLogin.user.getEmail(),
            age: naverLogin.user.getAge(),
            birthyear: naverLogin.user.getBirthyear(),
            gender: naverLogin.user.getGender() === "M" ? "남자" : "여자",
            name: naverLogin.user.getName(),
            social: "naver",
          };
          axios.post("/idCheck", { email: userInfo.email }).then((res) => {
            if (res.data.result) {
              console.log("data", res.data.result);
              axios.get("/logout").then((res) => {
                axios
                  .post("/joinData", { userInfo })
                  .then((res) => (window.location.href = "/join"));
              });
            } else {
              alert("이미 가입되어 있는 회원입니다.");
              naverLogin.logout();
              window.location.href = "/";
            }
          });
        }
      });
    </script>
  </body>
</html>
