<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/css/join.css" />
    <link rel="icon" href="/public/img/iconBanner.jpeg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <h1>EVELOG</h1>
  <div class="main-wrap">
    <form name="data">
      <div>
        이메일
        <div>
          <div class="email">
            <input
              onkeyup="textCheck(this,'email',0)"
              type="text"
              name="userid"
            />
            <button type="button" onclick="redundancy(6)">중복검사</button>
          </div>
          <p class="errorCode"></p>
        </div>
      </div>
      <div>
        패스워드
        <input
          onkeyup="textCheck(this,'pass',1)"
          type="password"
          name="password"
        />
        <p class="errorCode"></p>
      </div>
      <div>
        패스워드 확인
        <input
          onkeyup="textCheck(this,'passCheck',2)"
          type="password"
          name="passcheck"
        />
        <p class="errorCode"></p>
      </div>
      <div>
        이름
        <input onkeyup="textCheck(this,'name',3)" type="text" name="name" />
        <p class="errorCode"></p>
      </div>
      <div>
        별명
        <input
          onkeyup="textCheck(this,'nickname',4)"
          type="text"
          name="nickname"
        />
        <p class="errorCode"></p>
      </div>
      <div>
        나이
        <input onkeyup="textCheck(this,'age',5)" type="number" name="age" />
        <p class="errorCode"></p>
      </div>
      <div>
        성별
        <select name="gender">
          <option>남자</option>
          <option>여자</option>
        </select>
      </div>
      <!-- <div>
      휴대폰
      <input onkeyup="textCheck(this,'phone',6)" type="text" name="phone" />
      <p class="errorCode"></p>
    </div> -->
    </form>
    <button class="registerButton" type="button" onclick="dataOn()">
      가입하기
    </button>
  </div>
  <script src="/public/js/join.js"></script>
</html>
