<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/img/iconBanner.jpeg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>읽기 목록 -evelog</title>
    <link rel="stylesheet" href="/public/css/like.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("global/header") %>
    <div class="main-container">
      <div class="btn-container">
        <div class="btn-box">
          <div class="postBtn" id="likedBtn">좋아한 포스트</div>
          <div class="postBtn" id="recentBtn">최근 읽은 포스트</div>
          <div class="underLine" id="underLine"></div>
        </div>
      </div>
      <div class="content-container">
        <div class="likedPagesContainer content"></div>
        <div class="recentPagesContainer content"></div>
      </div>
    </div>

    <script src="/public/js/like.js"></script>
  </body>
</html>
