<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/img/iconBanner.jpeg" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <link rel="stylesheet" href="/public/css/write.css" />
    <title>새 글 작성</title>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form id="toast_form">
      <div id="writeContainer">
        <div id="toast_container">
          <div id="toast_title">
            <input
              class="toast_title"
              type="text"
              id="toast_title"
              placeholder="제목을 입력하세요"
            />
          </div>
          <div id="toast_category"></div>
          <div id="toast_ui_container">
            <div id="toast_ui_editor"></div>
          </div>
          <div id="buttons_container">
            <div onclick="cancel()" id="exit_button">
              <img src="/public/img/arrow_black.png" alt="" />
              나가기
            </div>
            <button id="publish_button">출간하기</button>
          </div>
        </div>
        <div id="preview_container">
          <div id="preview_title"></div>
          <div id="preview_content"></div>
          <div id="preview_image"></div>
        </div>
      </div>
    </form>
    <div class="publish-wrap">
      <div class="publish-container">
        <div class="publish">
          <h3>포스트 미리보기</h3>
          <div>
            <h4>대표 이미지 설정</h4>
            <input class="post_file" type="file" name="file" />
            <div class="BtnBox"></div>
            <div onclick="imgchange()" class="imgBox">
              <div class="imgUpload">300px * 160px</div>
            </div>
            <h4>소개글</h4>
            <div class="box_textarea">
              <textarea
                class="post_intro"
                placeholder="당신의 포스트를 소개해보세요"
              ></textarea>
              <div class="strCount">0/150</div>
            </div>
          </div>
          <div class="publish_BtnBox">
            <div class="publish_Button_Cansle">취소</div>
            <div class="publish_Button_Submit">출간하기</div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/js/update.js"></script>
  </body>
</html>
