.bold {
  font-weight: 1000;
}

#userContainer {
  width: 55%;
  margin: 0 auto;
  border-bottom: 1px solid #ccc; /* Add horizontal line */
}

.profileContainer {
  display: flex;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.namesContainer {
  margin-left: 15px;
  line-height: 64px;
}

.username {
  font-size: 28px;
  font-weight: bolder;
}

.nickname {
  font-size: 20px;
  color: grey;
}

.profilePicture img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

#postsContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 0 auto;
}

.post-content-container {
  border-bottom: 1px solid #888;
  margin: 30px 0px;
}

.post {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack thumbnail and text vertically */
  margin-bottom: 20px; /* Space between posts */
  border-bottom: 1px solid #ccc; /* Add horizontal line */
  padding-bottom: 20px; /* Add padding below the line */
}

.post-thumbnail img {
  width: 100%; /* Thumbnail takes full width */
  max-height: 500px; /* Adjust as needed */
  object-fit: contain; /* or cover, depending on desired behavior */
  margin-bottom: 20px; /* Margin between thumbnail and text */
}

.post-title {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.post-comment {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #888;
}

.post-footer-container {
  display: flex;
  justify-content: space-between; /* Distribute space */
  margin-bottom: 40px;
  font-size: 14px;
  color: #888;
}

.footer-wrap {
  display: flex;
}
.post-comments {
  margin-left: 10px;
}

.post-likes {
  margin-left: 10px;
}

.post-likes img {
  height: 12px;
}

.buttons-container {
  display: flex;
}

.buttons-container button {
  color: white;
  background-color: #12b886;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 12px;
  margin: 5px;
}
.edit-button button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.delete-button button:hover {
  cursor: pointer;
  filter: brightness();
}
.edit-button button,
.delete-button button {
  font-weight: 600;
}
