.bold {
  font-weight: 1000;
}

#postsContainer {
  display: flex;
  flex-direction: column;
  margin: auto 100px;
}

.post {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack thumbnail and text vertically */
  margin-bottom: 20px; /* Space between posts */
  border-bottom: 1px solid #ccc; /* Add horizontal line */
  padding-bottom: 20px; /* Add padding below the line */
}

.post-thumbnail {
  width: 100%; /* Thumbnail takes full width */
  max-height: 500px; /* Adjust as needed */
  object-fit: contain; /* or cover, depending on desired behavior */
  margin-bottom: 20px; /* Margin between thumbnail and text */
}

/* .post-content-text {
  margin: auto 100px;
} */

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-content-image {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.post-created-at {
  font-size: 14px;
  color: #888;
}
