.main-wrap {
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
  background-color: aliceblue;
  display: flex;
}

.input_file {
  display: none;
}

.imgBtnBox {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img_File {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 140px;
}

.imgArea {
  padding: 10px 20px;
}
.editArea {
  padding: 10px 20px;
  position: relative;
  width: 70%;
}

.editBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-wrap: nowrap;
}

.profile_container {
  margin: 0 auto;
  width: 70%;
}
