.icon_category {
  aspect-ratio: 1/1;
  width: 30px;
}
.categoryBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
.categoryBtn {
  display: flex;
  align-items: center;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
