#writeContainer {
  display: flex;
  width: 100%; /* Or a specific width if needed */
  margin: 0;
}

#toast_container,
#preview_container {
  flex: 1; /* Equal space distribution */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

#toast_container {
  width: 50vw;
  height: 100vh;

  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
}

#toast_title input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px; /* Add padding to the input itself */
  border: none;
  height: 100px;
}

#toast_category {
  padding: 10px;
}

#toast_ui_container {
  flex-grow: 1; /* Allow editor to take up remaining space */
}

#toast_category {
  display: flex;
}

#buttons_container {
  display: flex; /* Arrange buttons horizontally */
  justify-content: space-between; /* Distribute space evenly */
  padding: 10px;
}

#exit_button,
#publish_button {
  padding: 8px 16px;
}

.toastui-editor-defaultUI {
  border: none; /* Changes all sides to red */
}

.toastui-editor-md-tab-container,
.toastui-editor-defaultUI-toolbar {
  background-color: transparent;
}

.ProseMirror.toastui-editor-contents,
.toastui-editor.ww-mode {
  outline: none;
}
.toastui-editor-mode-switch {
  border-top: none;
}

.toastui-editor-defaultUI-toolbar {
  border-bottom: none;
}

#publish_button {
  border: none;
  background-color: #12b886;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

#exit_button {
  display: flex; /* Enable flexbox */
  align-items: center; /* Vertically align items */
  /* Add other styles as needed (e.g., padding, border) */
}

#exit_button img {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Add some space between the image and text */
  /* Add other image styles as needed (e.g., width, height) */
}

#buttons_container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

#preview_container {
  background-color: beige;
  display: flex;
  flex-direction: column;
}

/* #preview_image img {
  object-fit: cover;
  width: 200px;
  height: 150px;
} */
